/* mobile responsive  */
@media screen and (max-width: 576px){
    .nav-bar{
        padding: 0.5rem 0 0rem 0;
    }
    .ham-burs{
        display: block;
        color: white;
        font-size: 20px;
        margin-top: 10px;
    }
    .menubar,
    .hide-card,
    .card-1{
        display: none;
    }
    .banner-content, .banner-img, .calculator-container p{
        width: 100%;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-content h1{
        padding-top: 0;
        font-size: 30px;
        line-height: 40px;
    }
    .banner-content p{
        margin: 20px 0;
    }
    .btn-primary{
        padding: 12px 24px;
        font-size: 12px;
        border-radius: 42px;
        letter-spacing: 0px;
    }
    .btn-secoundary {
        margin-left: 4px;
    }
    .banner-img-box{
        justify-content: center;
    }
    .workout{
        top: 20%;
        left: 50%;
    }
    .common-div p{
        font-size: 13px;
    }
    .video{
        left: 0%;
    }
    .habit-description,
    .run-content p,
    .training-description p,
    .team-header{
        width: auto;
    }
    .habit-main,
    .run,
    .team-content,
    .footer-content,
    .calculator-container,
    .price-content{
        grid-template-columns: 1fr;
    }
    .habit-card h5{
        font-size: 26px;
    }
    .habit-card p{
        font-size: 20px;
        width: 90%;
        margin: 0 auto;
        line-height: 30px;
    }
    .run-btn{
        padding: 17px 86px;
        margin-bottom: 30px;
    }
    .training-description h2{
        line-height: 50px;
        margin-bottom: 25px;
    }
    .row-1,
    .row-2{
        grid-template-columns: 1fr;
        grid-template-rows: 160px;
    }
    .row-2{
        grid-template-columns: .75fr 1fr;
    }
    .exercise-img-3 p,
    .exercise-img-5 p,
    .exercise-img-6 p{
        top: 50%;
    }
    .exercise-img-4 p{
        left: 40%;
    }
    .common-exercise p{
        font-size: 13px;
        line-height: 18px;
    }
    .claculator-right-description{
        width: 80% !important;
    }
    .row-1{
        grid-template-columns: 0.8fr .7fr;
    }
    .row-2{
        grid-template-columns: .7fr 0.9fr;
    }
    .pricing-header{
        width: 80%;
    }
    .team-header h2{
        line-height: 50px;
        margin-bottom: 30px;
    }
     .team-content{
        grid-template-rows: 240px 240px;    
    }
    .team-content .card h4{
         font-size: 20px;
    }
    .team-content .card p{
         font-size: 16px;
         margin-top: 10px;
    }    
} 
/* tablet responsive   */
@media screen and (min-width: 576px) and (max-width: 992px){
    .menubar-item{
        gap: 1.6rem;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-content, .banner-img{
        width: 100%;
    }
    .banner-content p{
        font-size: 18px;
        width: 85%;
    }
    .btn-primary{
        padding: 14px 38px;
    }
    .banner-img-box{
        justify-content: center;
        margin-top: 40px;
    }
    .workout{
        top: 25%;
        left: 56%;
    }
    .habit-main{
        grid-template-columns: repeat(2, 1fr);
    }
    .habit-card h5{
        font-size: 24px;
    }
    .habit-card p{
        font-size: 18px;
        line-height: 26px;
    }
    .run-content p{
        width: 80%;
    }
    .calculator-container,
    .footer-content{
        grid-template-columns: 1fr;
    }
    .bmi-btn{
        padding: 18px 80px;
    }
}

