@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
/* ======common style==== */
h1,
h2,
h3, 
h4,
h5{
    font-size: 40px;
    font-weight: 900;
    line-height: 74px;
    color: rgb(255, 255, 255);
}
h1{
    font-size: 70px;
}
p{
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.8px;
}
.btn-primary{
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
    padding: 17px 46px;
    font-size: 16px;
    border-radius: 42px;
    letter-spacing: 1px;
}
.display-flex{
    display: flex;
    align-items: center;
}
.container{
    width: 76%;
    margin: 0 auto;
}
/* ====navbar start===== */
.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgb(18, 17, 17) 100%);
    height: 100vh;
}
.nav-bar{
    justify-content: space-between;
    padding: 3rem 0 2.5rem 0;
}
.navbar-logo h1{
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-style: italic;
}
.menubar-item{
    justify-content: space-evenly;
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding:1px 20px 1px 1px;
    border-radius: 50px;
}
.nav-bar ul li{
    list-style: none;
}
.menubar-one{
    background: rgb(230, 83, 60);
    padding: 7px 23px;
    border-radius: 50px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}
/* -----banner start----  */
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 50%;
}
.banner-content h1{
    padding-top: 50px;
}
.banner-content p{
    margin: 30px 0;
}
.banner-img{
    width: 50%;
    position: relative;
}
.banner-img-box{
    justify-content: flex-end;
}
.banner-img img{
    height: 500px;
    width: 330px;
}
.btn-secoundary{
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 10px;
}
.common-div{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    height: 90px;
    width: 184px;
}
.common-div p{
    font-size: 14px;
    margin-left: 18px;
}
.common-div h3{
    line-height: 50px;
    margin-left: 18px;
}
.workout, .video{
    position: absolute;
    top: 16%;
    left: 73%;
}
.video{
    top: 73%;
    left: 14%;
    width: 200px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
}
.video h3{
    font-size: 30px;
    margin-left: 70px;
}
.video p{
    margin-left: 70px;
}
.color{
    background: rgb(230, 83, 60);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 8%;
}
main{
    background: #000000;
}
/* =====habit section start===== */
.habit-description,
.team-header{
    text-align: center;
    width: 636px;
    margin: 0 auto;
    padding: 100px 0 50px 0;
}
.habit-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    text-align: center;
}
.habit-card img{
    border-radius: 50%;
    border: 2px solid #4F4E4E;
}
.habit-card h5{
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
}
.habit-card p,
.common-exercise p,
.calculator-container p{
    font-size: 14px;
    line-height: 22px;
}
/* =====run section start==== */
.run{
    border-radius: 18px;
background: rgb(34, 34, 34);
display: grid;
grid-template-columns: repeat(2, 1fr);
padding: 30px;
margin: 100px auto;
}
.run-content{
    padding-left: 20px;
}
.run-content h2{
    margin: 30px 0 15px 0;
    line-height: 50px;
}
.run-content p{
    width: 370px;
    line-height: 22px;
    margin-bottom: 20px;
}
.run-btn{
    padding: 17px 62px;
}
.run-img img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
/* ======training start===== */
.training-content{
    margin-top: 50px;
}
.training-description p{
    width: 565px;
}
.row-1,
.row-2{
    display: grid;
    grid-template-rows: 200px;
}
.row-1{
    grid-template-columns: 0.7fr 1.5fr 0.8fr;
}
.row-2{
    grid-template-columns: 1.2fr 0.8fr 1fr;
}
.training-content img{
    height: 100%;
    width: 100%;
}
.common-exercise{
    position: relative;
}
.common-exercise::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.exercise-img-1::after{
    background-color:rgba(6, 255, 210, 0.5);
}
.exercise-img-2::after{
    background-color:rgba(255, 0, 0, 0.3);
}
.exercise-img-3::after,
.exercise-img-4::after{
    background-color:rgba(0, 0, 0, 0.5);
}
.exercise-img-5::after{
    background-color:rgba(66, 255, 0, 0.3);
}
.exercise-img-6::after{
    background-color:rgba(0, 71, 255, 0.3);
}
.common-exercise p{
    position: absolute;
    z-index: 1;
    letter-spacing: 0;
    font-weight: 500;
    left: 10%;
    color: white;
}
.exercise-img-1 p{
    top: 80%;
    color: black;
}
.exercise-img-2 p,
.exercise-img-4 p{
    top: 10%;
}
.exercise-img-3 p,
.exercise-img-5 p,
.exercise-img-6 p{
    top: 70%;
}
.exercise-img-4 p{
    left: 55%;
}
/* =====bmi calculator====== */
.calculator{
    height: 300px;
}
.calculator-content{
    width: 700px;
    margin: 0 auto;
}
/* ====calculator chart===== */
.calculator-chart{
     background: rgb(34, 34, 34);;
}
.calculator-container{
    display: grid;
    grid-template-columns: 0.8fr 1.1fr;
    gap: 4rem;
    padding: 50px 0;
}
.calculator-container h4{
    font-size: 25px;
}
table, th, td{
    border: 1px solid #766f6f;
}
table {
    border-collapse: collapse;
    width: 80%;
    text-align: left;
    margin-top: 30px;
  } 
th, td, .team-content .card p {
    padding: 10px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}
th, .team-content .card h4{font-size: 15px;
    color: white;
    font-weight: 500;
}
.form{
    margin: 30px 0;
}
.form-row-1,
.form-row-2,
.form-row-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 12px;
}
.form-row-3{
    grid-template-columns: 1fr;
}
.form input, select{
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
}
/* =====team star====== */
.team{
    padding: 60px 0;
}
.team-header{
    padding: 0;
} 
.team-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 260px;
    gap: 1.2rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 16px;
    margin-top: 50px;
}
.team-content .card img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    filter: brightness(80%);
}
.team-content .card{
    position: relative;
}
.team-content .card h4{
    font-weight: 800;
}
.team-content .card h4, .team-content .card p{
    position: absolute;
    top: 65%;
    left: 10%;
}
.team-content .card p{
    top: 79%;
    left: 7%;
}
 


 
